<div class = "main">
    <div class = "container thin">

            <%= form_for (:session) do |f| %>
                <%= label_tag :username, "USERNAME:", class: "login-label" %>
                <p><%= f.text_field :username %></p>
                <%= label_tag :username, "PASSWORD:", class: "login-label" %>
                <p><%= f.password_field :password %></p>

                <p><%= f.submit "Log In", class: "submit-button" %></p>

            <% end %>
  
    </div>
</div>