<style type="text/css">
body {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
</style>



<div class = "main">
  <div class = "shaded container thin tall ">
  <h5>Don't have an account? <%= link_to "Sign up!", new_user_path %></h5>
    <%= form_for (:session) do |f| %>



      <br>
      <%= label_tag :username, "USERNAME:", class: "login-label" %>
      <p><%= f.text_field :username %></p>
      <%= label_tag :username, "PASSWORD:", class: "login-label" %>
      <p><%= f.password_field :password %></p>

      <p><%= f.submit "Log In", class: "submit-button" %></p>

    <% end %>

  </div>
</div>