<style type="text/css">
body {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
</style>



<div class = "main">
  <div class = "container shaded thin tall ">
      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

        <% if @user.errors.any? %>
          <br>
          <div class = "errors">
                <% @user.errors.full_messages.each do |msg| %>
                  <p><%= msg %></p>
                <% end %>
          </div>
          <br>
          <br>
        <% end %>
        

        <%= f.label :password, "PASSWORD:", class: "login-label"  %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "CONFIRM PASSWORD:", class: "login-label"  %>
        <%= f.password_field :password_confirmation %>
        <p><%= f.submit "Update Password", class: "submit-button" %></p>
      <% end %>
  </div>
</div>