<div class = "main">
    <div class = "container shaded short fat about-me index-table">
        
        
        <div class = "row">
            <div class = "col-md-6">
                <h2>Users: <span class = "num-users"><%= User.count %></span></h2>
            </div>
            <div class = "col-md-6">
                <h2>Records: <span class = "num-users"><%= Record.count %></span></h2>
            </div>
        </div>
        <h4>All the users so far: </h4>
        <table>
            <tr style "text-decoration: underline;">
                    <td>Username:</td>
                    <td>Name:</td>
                    <td>Email</td>
                    <td>Age:  </td>
                    <td>Zip:  </td>
                    <td>Records?  </td>
            </tr>
            <% @users.each do |u| %>    
                <tr>
                    <td><%= u.username %></td>
                    <td>
                        <% if u.gender %>
                            <%= image_tag("female.png", size: '10') %>
                        <% else %>
                            <%= image_tag("male.png" ,size: '10') %>
                        <% end %>
                        <%= link_to u.name, user_path(u.username) %>
                    </td>
                    <td>
                        <%= u.email %>
                    </td>
                    <td>
                        <%= u.age %>
                    </td>
                    <td>
                        <%= u.zipcode %>
                    </td>
                    <td>
                        <% if u.records.length > 0%>
                            <%= u.records.length %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>