<style type="text/css">
body {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
</style>

<div class = "main">
    <div class = "shaded container thin tall">

        <h5>Already have an account? <%= link_to "Log in", login_path %> instead!</h5>

        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
            <br>
                <div class = "errors">
                      <% @user.errors.full_messages.each do |msg| %>
                        <p><%= msg %></p>
                      <% end %>
                </div>
                <br>
            <% end %>
            <div class = "new-user">
                <%= label_tag :name, "NAME:", class: "login-label" %>
                <p><%= f.text_field :name %></p>
                <%= label_tag :username, "USERNAME:", class: "login-label" %>
                <p><%= f.text_field :username %></p>
                <%= label_tag :email, "EMAIL:", class: "login-label" %>
                <p><%= f.email_field :email %></p>
                <%= label_tag :password, "PASSWORD:", class: "login-label" %>
                <p><%= f.password_field :password%></p>
                <%= label_tag :password_confirmation, "CONFIRM PASSWORD:", class: "login-label" %>
                <p><%= f.password_field :password_confirmation%></p>
                <%= label_tag :zipcode, "ZIPCODE:", class: "login-label" %>
                <p><%= f.number_field :zipcode, max: 999999, size: 6%></p>

                <div class = "row gender-age-row">
                   <div class = "col-md-6">
                      <p class = "weight-label"><%= f.radio_button :gender, false, :checked => true%> MALE</p>
                      <br>
                      <p class = "weight-label"><%= f.radio_button :gender, true%> FEMALE</p>
                  </div>
                  <div class = "col-md-6">
                      <p class = "push-down weight-label">AGE: <span class = "push-right"><%= f.select :age, (14..99).map {|i| [i] }, {}, {class: 'form-control'} %></span></p>
                  </div>
                </div>



               <p><%= f.submit "Create Account",  class: "submit-button" %></p>
            
            </div>
        <% end %>

    </div>
</div>    