<% u = @user %>

<h2>Profile for <%= u.username %></h2>
<em><h4><%= u.email %></h4></em>

<p><%= u.name %>  lives in <%= u.zipcode %>.</p>

<p> 

<% if u.gender %>
    She
<% else %>
    He
 <% end %>  

    is <%= u.age %>.

</p>

<% if u.has_records? %>
  <h4>Records:</h4>
<% end %>

<% @records.each do |r| %>
<div class = "col-md-3">
    <%= link_to "Record from #{r.date.strftime("%B %d, %Y")}", record_path(r.id) %>
</div>
<div class = "col-md-3">
    <%= r.weight %>
</div>
</br>


<% end %>

<% if !current_user.nil? && current_user.id == u.id %>
 <p><%= link_to "Add a new record", new_record_path %></p>
<% end %>

