<% u = @user %>

<h2>Profile for <%= u.username %></h2>
<em><h4><%= u.email %></h4></em>

<p><%= u.name %>  lives in <%= u.zipcode %>.</p>

<p> 

<% if u.gender %>
    She
<% else %>
    He
 <% end %>  

    is <%= u.age %>.

</p>

<h4>Records:</h4>

<% u.records.each do |r| %>
    <%= link_to "Record from #{r.date.strftime("%B %d, %Y")}", record_path(r.id) %>
</br>


<% end %>

<p><%= link_to "Add a new record", new_record_path %></p>


