<% u = @user %>

<div class = "index-header">
</div>
<div class = "main">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-8">
                <h2 class = "profile-heading"><%= u.username %> <span class = "heading-light">is <%= u.age %> years old</span></h2>
                <h5 class = "profile-subheading">
                    <% if u.gender %>
                        She
                    <% else %>
                        He
                     <% end %>
                     has <%= @records.count %>   
                     <% if @records.count != 1 %>
                          records
                        <% else %>
                          record  
                    <% end %>
                </h5>    
            </div>

            <div class = "col-md-4 records-section">
                <h3><%= u.username %>'s records:</h3>
                    <% @records.each do |r| %>
                        <div class = "col-md-9">
                            <p><%= link_to "Record from #{r.date.strftime("%B %d, %Y")}", record_path(r.id) %></p>
                        </div>
                        <div class = "col-md-3">
                            <p><%= r.weight %></p>
                        </div>
                    <% end %>

                    <% if @records.first.nil? %>
                        <p class = "new-error"> <%= u.username %> has no records yet.</p>
                    <% end %>
            </div>
        </div>    
    </div>
</div>    


