<div class = "row top-bar">
    <div class = "col-md-4">    
        <%= link_to "TheyGotFit", root_path, class: "logo" %>
    </div>

    <div class = "col-md-8 log-board"> 
        <% if current_user %>
            <%  u = current_user %>
            
            <div class = "log-div">Hello, <%= link_to u.name, user_path(session[:user_id]) %>.</div>
            <div class = "log-div"><%= link_to "Add Record", new_record_path %></div>
            <div class = "log-div"><%= link_to "Settings", preferences_path(current_user.id) %></div>
            <div class = "log-div"><a class = "pref-open-pane">Test</a></div>
            <div class = "log-div"><%= link_to "Log Out", logout_path %></div>
        <% else %>
            <div class = "log-div"><%= link_to "Sign Up", new_user_path %></div>
            <div class = "log-div"><%= link_to "Log In", login_path %></div>
        <% end %>
    </div>
</div>