<div class = "row top-bar">
    <div class = "col-md-4">    
        <%= link_to "TheyGotFit", root_path, class: "logo" %>
    </div>

    <div class = "col-md-8 log-board"> 
        <% if current_user %>
            <%  u = current_user %>   
            <div class = "log-div">Hello, <%= link_to u.name, profile_path %>.</div>
            <div class = "log-div"><%= link_to "Add Record", new_record_path %></div>
            
            <div class = "log-div open-panel"><span class = "glyphicon glyphicon-cog open-more-panel"></span>
                <div class = "hoverzone"></div>
                <div class = "more-panel">                
                    <div class = "log-div"><%= link_to "Settings", preferences_path(current_user) %></div>
                    <div class = "log-div"><%= link_to "FAQ", faq_path %></div>
                    <div class = "log-div"><%= link_to "Contact Me", comments_path %></div>
                    <div class = "log-div"><%= link_to "Log Out", logout_path %></div>
                </div>
            </div>


        <% else %>
            <div class = "log-div"><%= link_to "Sign Up", new_user_path %></div>
            <div class = "log-div"><%= link_to "Log In", login_path %></div>
            <div class = "log-div"><%= link_to "Add Record", '/sign-up' %></div>
        <% end %>
    </div>
</div>