


<div class = "col-md-6">
    <div class = "one-record">
        
        <div class = "record-heading">


                    <div class = "record-detail"><%= r.date.strftime("%B %d, %Y") %> |
                        <span class = "blue-weight">
                            <% if params[:pounds] == "true" %>
                                <%= r.weight %> lbs
                                <% else %>
                                <%= r.to_kg %> kgs
                            <% end %> </span>|
                        <% if params[:inches] == "true" %>
                        <%= r.height %>
                        in
                        <% else %>
                        <%= r.to_cm %>
                        cm
                        <% end %>
                    </div>  

        </div>

        <div class = "photo-container">
            <%= image_tag r.photo, class: "record-photo" %>
        </div>

        <div class = "record-caption"><%= r.caption %></div>

        <div class = "row supporting-photos-row">
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag "https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg", class: "little-photo" %>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag "http://static.tumblr.com/81b6d42b4064def5e9062d5f4410c820/betml74/Yl5ml0lia/tumblr_static_impress.jpg", class: "little-photo" %>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag "http://rufflifechicago.com/wp-content/uploads/cat-treats.jpg", class: "little-photo" %>
                </div>
            </div>
        </div>

    </div>
</div>