


<div class = "col-md-6">
    <div class = "one-record">
        
        <div class = "record-heading">


                    <div class = "record-detail"><%= r.date.strftime("%B %d, %Y") %> |
                        <span class = "blue-weight">
                            <% if params[:pounds] == "true" %>
                                <%= r.weight %> lbs
                                <% else %>
                                <%= r.to_kg %> kgs
                            <% end %> </span>|
                        <% if params[:inches] == "true" %>
                        <%= r.height %>
                        in
                        <% else %>
                        <%= r.to_cm %>
                        cm
                        <% end %>
                    </div>  

        </div>

        <div class = "photo-container">
            <%= image_tag r.photo, class: "record-photo" %>
        </div>

        <div class = "record-caption"><%= r.caption %></div>

        <div class = "row supporting-photos-row">
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag r.other_photos[0], class: "little-photo" %>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag r.other_photos[1], class: "little-photo" %>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "little-photo-container">
                    <%= image_tag r.other_photos[2], class: "little-photo" %>
                </div>
            </div>
        </div>

    </div>
</div>