<% imp = current_user.imperial if current_user  %>
<% imp = true if !current_user  %>

<div class = "col-md-6">
    <div class = "one-record">
        
        <div class = "record-heading">
            <div class = "record-detail"><%= r.date.strftime("%B %d, %Y") %> |
                <span class = "blue-weight">
                        <% if imp %>
                            <%=  r.weight %> lbs
                        <% else %>
                            <%=  r.to_kg %> kg
                        <% end %> 
                </span>|
                <% if imp  %>
                <%= r.height %>
                in
                <% else %>
                <%= r.to_cm %>
                cm
                <% end %>
            </div>  

        </div>

        <div class = "photo-container">
            <%= image_tag r.photo, class: "record-photo" %>
        </div>

        <div class = "record-caption"><%= r.caption %></div>

        <div class = "row supporting-photos-row">
            <% r.other_photos.each do |p| %>
                <% unless p.nil? || p.empty? %>
                    <div class = "col-md-4">
                            <div class = "little-photo-container">
                                <%= image_tag p, class: "little-photo" %>
                            </div>
                        </div>
                    <% end %>
            <% end %>
        </div>



    </div>
</div>