<style type="text/css">
body {
    background: rgba(51, 51, 51, 0.9);
    color: #C4E0FF;
}
</style>

<% if !@records.nil? && @records.size > 0 && @records[0][0].first != @records[0][1].first %>

    <% u = User.find_by(id: @records[0][0].first.user_id) %>

    

        <div class = "main">
            <div class = "container ">
                <h4 class = "your-search"><%= params[:start_weight] %> to <%= params[:end_weight] %> 
                    <% if params[:pounds] == "true" %> lbs.
                    <% else %> kgs.
                    <% end %>
                    Gender: <%= params[:gender] %>. 
                    <% unless params[:height] == ""%> Height: <%= params[:height]%> 
                        <% if params[:inches] == "true" %> in.
                        <% else %> cm.
                        <% end %>
                    <% end %>
                    <%= link_to "Search again?", search_path %>
                </h4>
                <h2  class = "centered"> Found <%= @rnum %> 
                    <% if @rnum > 1 %> 
                        records.
                    <% else %> 
                        record. 
                    <% end %>
                    Here is <%= link_to u.name, user_path(u.id) %>:</h2> 
                <div class = "row">
                    <%= render partial: "shared/record", locals: {r: @records[0][0].first} unless @records[0][0].nil?  %> 
                    <%= render partial: "shared/record", locals: {r: @records[0][1].first} unless @records[0][0].nil?  %>
                <%= paginate @records %>


            </div>
        </div>
        <div class = "navigation">
            <div class = "row">
                <div class = "col-md-6 left-nav">
                    <%= link_to do %>
                        <i class="glyphicon glyphicon-chevron-left" title="Previous Page"></i>
                    <% end %>
                </div>
                    
                <div class = "col-md-6 right-nav">
                    <i class="glyphicon glyphicon-chevron-right" title="Last Page"></i>
                </div>
            </div>
        </div>  
    <% else %>
        <div class = "errors">
            <p> No such record found. <%= link_to "Search again?", search_path %></p>
        </div>   


<% end %>    


