<h3>Search results:</h3>

<h4>You searched: <%= params[:start_weight] %> to <%= params[:end_weight] %></h4>

<% if !@records.nil? && @records.size > 0 && @records[0][0].first != @records[0][1].first %>

    <% u = User.find_by(id: @records[0][0].first.user_id) %>

    <h4> Found a record for <%= link_to u.name, user_path(u.id) %>. <%= link_to "Search again?", search_path %> </h4> 

    <div class = "main">
        <div class = "container">

            <% r = @records[0][0].first unless @records[0][0].nil? %>
            
            <div class = "row">
                <div class = "col-md-6">
                    <div class = "one-record">
                        <%= image_tag r.photo, class: "record-photo" %>
                        <p class = "caption"><%= u.name %>: <%= r.caption %></p>
         
                        <p>Height: <%= r.height %>
                            <% if r.inches %>
                            centimeters
                            <% else %>
                            inches
                            <% end %>
                        </p>

                        <p>Weight: <%= r.weight %>
                            <% if r.pounds %>
                            kilograms
                            <% else %>
                            pounds
                            <% end %>
                        </p>
                        <p>Date: <%= r.date.strftime("%B %d, %Y") %></p>
                    </div>
                </div>
            <% r = @records[0][1].first unless @records[0][1].nil? %>  
                <div class = "col-md-6">
                    <div class = "one-record">
                        <%= image_tag r.photo, class: "record-photo" %>
                        <p class = "caption"><%= u.name %>: <%= r.caption %></p>
                        <p>Height: <%= r.height %>
                            <% if r.inches %>
                            centimeters
                            <% else %>
                            inches
                            <% end %>
                        </p>

                        <p>Weight: <%= r.weight %>
                            <% if r.pounds %>
                            kilograms
                            <% else %>
                            pounds
                            <% end %>
                        </p>
                        <p>Date: <%= r.date.strftime("%B %d, %Y") %></p>
                    </div>
                </div>    
            </div>
            <%= paginate @records %>
        </div>
    </div>
<% else %>
    <div class = "errors">
        <p> No such record found. <%= link_to "Search again?", search_path %></p>
    </div>
<% end %>


