<% @records.each do |r| %>
    <div class = "one-record">
        <div class = "record-photo-div">
            <%= image_tag r.photo, class: "record-photo" %>
            <p class = "caption"><%= r.caption %></p>
        </div>
        <p>Height: <%= r.height %>
            <% if r.inches %>
            centimeters
            <% else %>
            inches
            <% end %>
        </p>

        </p>
        <p>Weight: <%= r.weight %>
            <% if r.pounds %>
            kilograms
            <% else %>
            pounds
            <% end %>
        </p>


        <p>Date: <%= r.date.strftime("%B %d, %Y") %></p>
    </div>
<% end %>