<h2><%= current_user.name %>, let's create new record</h2>

<%= form_for @record do |r| %>

<% if @record.errors.any? %>
    <div class = "errors">

          <% @record.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>

    </div>
<% end %>
    <p><%= r.text_field :photo, placeholder: "Photo URL", size: 50 %></p>

    Date taken: <%= date_select(:record, :date, ampm: false) %>
    <p>Weight: <%= r.number_field :weight, min: 50 %>
        <%= r.radio_button :pounds, true , :checked => true%>pounds
        <%= r.radio_button :pounds, false %>kilograms</p>
    <p>Height: <%= r.number_field :height, min: 13 %>
        <%= r.radio_button :inches, false , :checked => true%>inches
        <%= r.radio_button :inches, true %>centimeters</p>

    <p><%= r.text_field :caption, placeholder: "Photo Caption", size: 50, maxlength: 144 %></p>


    <p><%= r.submit "Save Record" %></p>

<% end %>

