<style type="text/css">
body {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
</style>

<div class = "main">
    <div class = "shaded container thin tall" data-no-turbolink="true">
        <%= form_for @record do |r| %>

        <% if @record.errors.any? %>
            <br>
            <div class = "errors">

                  <% @record.errors.full_messages.each do |msg| %>
                    <p><%= msg %></p>
                  <% end %>

            </div>
            <br>
            <br>
        <% end %>
            <%= label_tag :date, "PHOTO DATE:", class: "login-label" %>
            <input class = "datepicker" name = "record[date]" id = "record_date" data-value="2012/02/01">
             <br>
            <br>           
            <%= label_tag :photo, "IMAGE URL:", class: "login-label" %>
            <p><%= r.text_field :photo, size: 50 %></p>    

            <p class = "get-more-photos"><span class = "photo-arrow glyphicon glyphicon-triangle-right"></span>  More photos from this date? (face/side/flex, etc)</p>

            <div class = "extra-photos hidden">
                <h3>ADD MORE PHOTOS:</h3>
                <%= label_tag :name, "IMAGE URL #2:", class: "login-label" %>
                <p><%= text_field_tag "other_photos[]" %></p>
                <%= label_tag :name, "IMAGE URL #3:", class: "login-label" %>
                <p><%= text_field_tag "other_photos[]" %></p>
                <%= label_tag :name, "IMAGE URL #4:", class: "login-label" %>
                <p><%= text_field_tag "other_photos[]" %></p>
            </div>


            <%= label_tag :weight, "WEIGHT:", class: "login-label" %>
            <br>
            <div class = "row newrec-weights-row">
                <div class = "col-md-8">                    
                    <p><%= r.number_field :weight, min: 50 %></p>
                    
                </div>
                <div class = "col-md-4">
                    <div class = "search-metric">
                        <p class = "weight-label"><%= r.radio_button :pounds, true , checked: current_user.imperial %>lbs</p>
                        <br>
                        <p class = "weight-label"><%= r.radio_button :pounds, false, checked: !current_user.imperial %>kg</p>
                    </div>
                </div>
            </div>    
            <br>

            <%= label_tag :name, "HEIGHT:", class: "login-label" %>
            <br>
            <div class = "row newrec-weights-row">
                <div class = "col-md-8">                    
                    <p><%= r.number_field :height, min: 13 %></p>
                    
                </div>
                <div class = "col-md-4">
                    <div class = "search-metric">
                        <p class = "weight-label"><%= r.radio_button :inches, true, checked: current_user.imperial %>in</p>
                        <br>
                        <p class = "weight-label"><%= r.radio_button :inches, false, checked: !(current_user.imperial) %>cm</p>
                    </div>
                </div>
            </div>    
            <br>
            
            <%= label_tag :name, "CAPTION (optional):", class: "login-label" %>
            <p><%= r.text_field :caption, size: 50, maxlength: 144 %></p>


            <p><%= r.submit "Save Record", class: "submit-button" %></p>

        <% end %>

    </div>
</div>



