

<h3>Find a record</h3>

<%= form_tag(search_path, controller: "records", action: "search", method: 'get')  do %>
    <p>Weight I am: <%= number_field_tag :start_weight, params[:start_weight] %> </p>
    <p>Weight I want to be: <%= number_field_tag :end_weight, params[:end_weight] %> </p>
 
    <p><%= submit_tag "Find Record", name: nil %></p>
<% end %>


<% if !@records.nil? && @records.size > 0 %>
    

    <% if !@records.nil? && !@records.first.nil? %>    
        <div class = "main">
            <div class = "container">

                <% r = @records[0][0].first if !@records[0][0].nil? %>
                <% u = User.find_by(id: @records[0][0].first.user_id) %>
                <div class = "row">
                    <div class = "col-md-6">
                        <div class = "one-record">
                            <%= image_tag r.photo, class: "record-photo" %>
                            <p class = "caption"><%= u.name %>: <%= r.caption %></p>
                            <p>Height: <%= r.height %>
                                <% if r.inches %>
                                centimeters
                                <% else %>
                                inches
                                <% end %>
                            </p>

                            <p>Weight: <%= r.weight %>
                                <% if r.pounds %>
                                kilograms
                                <% else %>
                                pounds
                                <% end %>
                            </p>
                            <p>Date: <%= r.date.strftime("%B %d, %Y") %></p>
                        </div>
                    </div>
                <% r = @records[0][1].first if !@records[0][1].nil? %>  
                <% u = User.find_by(id: @records[0][0].first.user_id) %>  
                    <div class = "col-md-6">
                        <div class = "one-record">
                            <%= image_tag r.photo, class: "record-photo" %>
                            <p class = "caption"><%= u.name %>: <%= r.caption %></p>
                            <p>Height: <%= r.height %>
                                <% if r.inches %>
                                centimeters
                                <% else %>
                                inches
                                <% end %>
                            </p>

                            <p>Weight: <%= r.weight %>
                                <% if r.pounds %>
                                kilograms
                                <% else %>
                                pounds
                                <% end %>
                            </p>
                            <p>Date: <%= r.date.strftime("%B %d, %Y") %></p>
                        </div>
                    </div>    
                </div>

            </div>
        </div>
       
    <% else %>
        <div class = "errors">
            <p> No such record found </p>
        </div>
    <% end %>


<% end %>
