<style type="text/css">
body {
    background: rgba(51, 51, 51, 0.9);
    color: #C4E0FF;
}
</style>

<% r = @record %>
<% u = User.find_by_id(r.user_id) %>
<% imp = current_user.imperial if current_user  %>
<% imp = true if !current_user  %>

<div class = "display-record-header">
</div>
<div class = "main">
    <div class = "container">
    
    <div class = "row">
        <div class = "col-md-2">
        </div>
        <div class = "col-md-6 one-record">
            <div class = "photo-container">
                <%= image_tag r.photo, class: "record-photo" %>
            </div>
            <p class = "caption"><%= r.caption %></p>
        </div>
        <div class = "col-md-4 records-section large">
            <h3>Record for <%= link_to u.name, user_path(u.id) %></h3>
            <h5>Record from <span class = "date"><%= r.date.strftime("%B %d, %Y") %></span></h5>
            <% #this is horrible - this IS AN AWFUL FIX %>
            <% if !imp %>
                <p>Weight: <%=  r.to_kg %> kilograms</p>
                <p>Height: <%=  ((r.to_cm).floor + 1) %> centimeters</p>
            <% else %>
                <p>Weight: <%=  r.weight %> pounds</p>
                <p>Height: <%=  r.height %> inches</p>

            <% end %>  
                 
        </div>
    </div>
        


    </div>
</div>
