<% r = @record %>
<% imp = current_user.imperial %>
<div class = "display-record-header">
</div>
<div class = "main">
    <div class = "container">
    
    <div class = "row">
        <div class = "col-md-2">
        </div>
        <div class = "col-md-6 one-record">
            
            <%= image_tag r.photo, class: "record-photo" %>
            <p class = "caption"><%= r.caption %></p>
        </div>
        <div class = "col-md-4 records-section large">

            <% #this is horrible %>
            <% if !imp %>
                <p>Weight: <%=  r.to_kg %> kilograms</p>
                <p>Height: <%=  r.to_cm %> centimeters</p>
            <% else %>
                <p>Weight: <%=  r.weight %> pounds</p>
                <p>Height: <%=  r.height %> inches</p>

            <% end %>  
            
        </div>
    </div>
        


    </div>
</div>
