<style type="text/css">
body {
  background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
</style>

<div class = "main">
    <div class = "container shaded short thin about-me">
        <p>Comments? Suggestions?  Awesome. I'd love to get your ideas on how we can improve TheyGotFit!</p>


        <%= form_for @feedback do |f| %>
            <%= label_tag :comment, "COMMENTS:", class: "login-label" %>
            <%= f.text_area :comment, rows: 5, class: "feedback-area" %> 
            <%= submit_tag "Submit Comment", class: "submit-button" %>
        <% end %>
    </div>
</div>