<style type="text/css">
body {
  background: rgba(51, 51, 51, 0.2); 
}
</style>

<div class = "main">
    <div class = "container shaded short thin about-me">
        <p class = "num-users">Q: Should I upload a record?</p>
        <p>A: Absolutely! If you're proud of the progress you've made, you should share with it to help inspire others. Your Facebook photo might get 27 likes and your <%= link_to "/r/progresspics", "http://reddit.com/r/progresspics", target: "_blank" %> post might net you some sweet karma, but the high from that will only last a few days. On TheyGotFit, your progress will be searched and seen constantly. You will show everyone that what you did is possible - over and over again.</p>
        <p class = "num-users">Q: But I'm really self-conscious about my thighs!</p>
        <p>A: A vector is defined by two things: direction and magnitude. It doesn't matter how slowly you're making progress, as long as you're moving. TheyGotFit has records from people of all shapes and sizes, all united to get fitter. Shed the self consciousness and join the club.</p>
        <p class = "num-users">Q: I have a quote I want to share with everyone.</p>
        <p>A: Great! <%= link_to "Submit it here", comments_path%>, and I'll let you know once I add it to the site.</p>
        <p class = "num-users">Q: Something isn't working right...!</p>
        <p>A: Try disabling your Ad Blocker (there are no ads here) If the website still doesn't work right, please <%= link_to "leave me a comment", comments_path%>. Thanks!</p>
        <p class = "num-users">Q: Who are you?</p>
        <p>A: Hi, <%= link_to "I'm Max", about_path %>.</p>
        <p class = "num-users">Q: Are you super fit?</p>
        <p>A: Not yet, but I'm trying. I did get fitter while building this website - you can check my progress out <%= link_to "here", "http://theygotfit.herokuapp.com/user/maxverse", target: "_blank" %>.</p>
        <p class = "num-users">Q: Can I delete a record?</p>
        <p>A: Yep! Just hover over a record in your profile, and a red <i class="glyphicon glyphicon-remove"></i> should appear to the right of the record weight.</p>
        <p class = "num-users">Q: I have so many ideas to make this website better!</p>
        <p>A: Awesome! I'd <%= link_to "love to hear", comments_path%> them.</p>
        <p class = "num-users">Q: This sucks. Can I delete my account?</p>
        <p>A: Sure. Settings, "Delete Account". I'd really <%= link_to "love to hear", comments_path%>,  about what didn't work for you first.</p>
    </div>
</div>