<!DOCTYPE html>
<html>
<head>
  <title>They Got Fit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "session", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "user", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:400,600,500' rel='stylesheet' type='text/css'>
  
  <style type="text/css">
    body {
      background: url(<%= randomized_background_image %>) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; */
    }
  </style>


  <%= csrf_meta_tags %>




</head>
<body>

<%= render "/shared/header" %>

<%= yield %>


</body>
</html>
